player-connection-mode=Listen
player-connection-guid=3812140768
player-connection-debug=0
player-connection-project-name=RollerBall
player-connection-ip=192.168.57.43
player-connection-ip=172.17.16.1
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=eb552f3d77de4fd6a02e678bf1a010dc
