player-connection-mode=Listen
player-connection-guid=149476724
player-connection-debug=0
player-connection-project-name=RollerBall
player-connection-ip=192.168.57.43
player-connection-ip=172.17.16.1
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=e3172baf52ce4d7e9c07872a81e7b24c
